@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

// bg-color
$base-color: rgba(115, 149, 174, 0.8);
$default-color: rgba(115, 149, 174, 1);
$title-color: rgba(62, 127, 174, 1);
$bg-button-color: rgba(62, 127, 174, 0.7);
$bg-admin-color: rgba(62, 127, 174, 0.5);
$bg-cart-color: rgba(62, 127, 174, 0.1);
$bg-color: rgba(234, 239, 243, 1);
$shadow-color: rgba(115, 149, 174, 0.5);

// color-text
$white-text: #fff;
$black-text: #000;
$brrow-text: rgb(64, 67, 67);

// size
$king-size: 1370px;
$default-size: 1260px;

//font
$title: 'Quicksand', sans-serif;
$default: Cambria, serif;