<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwindCommon.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/admin.css">
    <title>Rinhy Pastry</title>
</head>

<body>

    <div class="app flex justify-between">

        <div>
            <%- include('../patrials/menu-admin.ejs') %>
        </div>

        <div class="admin-content px-14">
            <%- include('../patrials/header-admin.ejs') %>
        </div>

    </div>

    <script src="/javascript/admin.js"></script>

</body>

</html>