<footer>
    <div class="footer">
        <div class="container py-10">
            <div class="flex justify-between ">
                <div class="content flex flex-col items-start mb-5">
                    <span class="title text-xl font-bold mb-1"> Rinhy Pastry</span>
                    <ul class=" text-lg">
                        <li>
                            <a class="block my-2" href="">Giới thiệu</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Hệ thống cửa hàng</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Chính sách bảo mật</a>
                        </li>
                    </ul>
                </div>
                <div class="content flex flex-col items-start mb-5">
                    <span class="title text-xl font-bold mb-1">Hỗ trợ khách hàng</span>
                    <ul class=" text-lg">
                        <li>
                            <a class="block my-2" href="">Các câu hỏi thường gặp</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Hướng dẫn đặt hàng</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Liên hệ với chúng tôi</a>
                        </li>
                    </ul>
                </div>
                <div class="content flex flex-col items-start mb-5">
                    <span class="title text-xl font-bold mb-1"> Cửa hàng</span>
                    <ul class="columns-2 text-lg mt-2">
                        <li>
                            <a class="block mb-2" href="">Bánh Macaron</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Bánh Tiramisu</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Bánh Donut</a>
                        </li>
                        <li>
                            <a class="block my-2"  href="">Bánh Crepes</a>
                        </li>
                        <li>
                            <a  class=" block my-2" href="">Bánh Pancake</a>
                        </li>
                        <li>
                            <a class="block my-2" href="">Tất cả</a>
                        </li>
                    </ul>
                </div>
                <div class="content flex flex-col items-start mb-5">
                    <div>
                        <img class="w-[16.875rem]" src="/images/logos/no-left.png" alt="">
                    </div>
                    <ul class=" text-lg">
                        <li class="">
                            <ul class="flex items-center justify-between">
                                <hr class="w-8/12 border-b-2 border-b-black">
                                <li>
                                    <a class="block my-2" href=""><i class='bx bxl-facebook-circle bx-sm'></i></i></a>
                                </li>
                                <li>
                                    <a class="block my-2" href="">
                                        <i class='bx bxl-instagram-alt bx-sm'></i></a>
                                </li>
                                <li>
                                    <a class="block my-2" href="">
                                        <i class='bx bxl-pinterest bx-sm'></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            Mở cửa các ngày trong tuần từ 8h - 22h
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>