<div class="header-admin mb-6">
    <div class="flex h-24 justify-between items-center">
        <div class="search flex ">
            <input class="bg-transparent border rounded-l-lg text-right placeholder-[#798a8b] outline-none text-lg"
                type="search" placeholder="Tìm kiếm">
            <i class='bx bx-search text-xl border p-2 rounded-r-lg cursor-pointer bg-slate-400'></i>
        </div>
        <div class="relative">
            <div onclick="dropDown(this)" class="flex items-center cursor-pointer">
                <div class="content mr-1">
                    <h3 class="font-semibold text-lg">Thanh Thúy</h3>
                    <span class="text-sm">Quản trị viên</span>
                </div>
                <div class="thumbnail">
                    <img class="w-[60px]" src="/images/users/admin.png" alt=""> 
                </div>
            </div>
            <div class="user hidden absolute w-64 right-0 top-18 bg-white p-5 rounded">
                <div class="flex items-center">
                    <div class="thumbnail mr-3">
                        <img class="w-11" src="/images/users/admin.png" alt="">
                    </div>
                    <div class="content mr-1">
                        <h3 class="font-semibold text-base">Thanh Thúy</h3>
                        <span class="text-sm">thuynnt262@gmail.com</span>
                    </div>
                </div>
                <hr class="my-4 border-b-2">
                <a href="" class="flex items-center text-rose-600">
                    <i class='bx bx-log-out-circle mr-3'></i>
                    <span class="text-lg">Đăng xuất</span>
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="header__title my-4">
        <span class="font-semibold text-2xl">Danh mục sản phẩm</span>
        <hr class="mb-2">
    </div> -->
</div>